.no-bullets {
    list-style-type: none;
    background-color: green;
    padding: 20px;
  }
  .links{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .no-bullets {
    list-style-type: none;
  }
  .links{
    padding-left: 10px;
    padding-right: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }